<!-- rentals/templates/contact_us.html -->

{% extends 'rentals/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Contact Us</h2>
        <p>
            If you have any questions or inquiries, feel free to contact us using the information below:
        </p>
        <ul>
            <li>Email: tmgbijay869@gmail.com</li>
            <li>Phone: +977 9814974763</li>
        </ul>

        <p>
            Alternatively, you can reach out to us on social media:
        </p>
        <div>
            <a href="https://www.facebook.com/profile.php?id=61554974286416" target="_blank" class="social-media-link">
                <i class="fab fa-facebook-square"></i> Facebook
            </a>
            <!-- Add more social media links as needed -->
        </div>
    </div>
{% endblock %}
